.moviedetail p {
    margin-inline: 10px;
    text-align: justify;
    margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 180px;
}


button {
    display:inline-block;
padding:0.35em 1.2em;
border:0.1em solid #cc2222;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#cc2222;
text-align:center;
transition: all 0.2s;
opacity: 0.8;
}

button:hover {
    color:#fff;
    background-color:#cc2222;
}

button {
display:block;
margin:0.4em auto;
}

body {
    background-color: #f5f5f5;;
}